* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#image-grid .search {
    display: flex;
    align-items: center;
    border: 1px solid rgb(198, 196, 196);
    padding: 5px 7px;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 40%;
    cursor: pointer;
}

#image-grid .search i {
    color: gray;
    font-size: 12px;
    margin-right: 6px;
}

#image-grid .search form input{
    outline: none;
    border: none;
    width: 100%;
}


img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}



#image-grid {
    padding: 10px 80px;
}

#image-grid .title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#image-grid h2 {
    font-size: 40px;
}

#image-grid input {
    outline: none;
    border: none;
}

#image-grid .grid-wrapper div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-grid .grid-wrapper div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

#image-grid .grid-wrapper {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

#image-grid .grid-wrapper .wide {
    grid-column: span 2;
}

#image-grid .grid-wrapper .tall {
    grid-row: span 2;
}

#image-grid .grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}

@media  (max-width: 550px){

    #image-grid {
        padding: 10px 10px;
    }

    #image-grid .grid-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}